.tabcontain,.edit_tabs{
    padding-left: 370px;
}

td{
    height: 30px;
}

<<<<<<< HEAD

.footer{
    top:86%;
	left:44%;
	position: absolute;
	z-index: 1;

}
=======
>>>>>>> 6308a536c40f1b0571f32e74beb2fb6c0a2b0248
